.cajas{
    max-width: 800px;
    background-color: dodgerblue;
    margin: 0 auto;
    border: 2px solid black ;
}
.caja{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 10px;
    border: 5px solid red;
    float: right;
}
.clearfix{
    float: none;
    clear: both;
}